/*
    You can add your own custom styles here.
*/

:root {
    --base-font-family: "Fira Sans", "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;

    --article-font-size: 1.9rem;
    --article-line-height: 1.5;

    &[data-scheme="dark"] {
        --body-background: #202020;
        --card-background: #121212;
    }
}

/*
.article-content {
    font-weight: 300;
}
*/